@media (min-width: 700px) {
    
    div.slider,.cores,.tamanhos,.condicoes,.container-fazer-pedido,.descricao,.container,figure.loja-bomb,.titulo-inferior,.navegacao-inferior {
        width: 50%;
        margin-left: 25%;
    }
}

@media (min-width: 1000px) {
    
    div.slider,.cores,.tamanhos,.condicoes,.container-fazer-pedido,.descricao,.container,figure.loja-bomb,.titulo-inferior,.navegacao-inferior {
        width: 40%;
        margin-left: 30%;
    }
}

@media (min-width: 830px) {

    .legenda-rolante-continua {
        word-spacing: 0.8em;
        letter-spacing: 0.2em;
        font-weight: 500;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .legenda-rolante-continua span::after  {
        content: " ";
        margin-right: 20px;
    }

}

@media (min-width: 1300px) {
    
    div.slider,.cores,.tamanhos,.condicoes,.container-fazer-pedido,.descricao,.container,figure.loja-bomb,.titulo-inferior,.navegacao-inferior {
        width: 30%;
        margin-left: 35%;
    }
}

@media (min-width: 1400px) {

    .legenda-rolante-continua {
        word-spacing: 1em;
        letter-spacing: 0.4em;
        
    }

    .legenda-rolante-continua span::after  {
        content: " ";
        margin-right: 20px;
    }

}

@media (min-width: 1600px) {
    
    div.slider,.cores,.tamanhos,.condicoes,.container-fazer-pedido,.descricao,.container,figure.loja-bomb,.titulo-inferior,.navegacao-inferior {
        width: 20%;
        margin-left: 40%;
    }
}

@media (min-width: 1800px) {

    .legenda-rolante-continua {
        word-spacing: 1.3em;
        letter-spacing: 0.8em;
        font-weight: 700;
        
    }
    
    .legenda-rolante-continua span::after  {
        content: " ";
        margin-right: 50px;
    }

}