.titulo-sobre {
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.paragrafo-sobre {
    color: purple;
    line-height: 1.3em;
}

.tamanho,.altura,.largura,.manga {
    text-align: center;
    margin-top: 2em;
}

div.navegacao-inferior-bloco-dois{
    align-items: start;
}
