* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    scroll-behavior: smooth;
}

article {
    height: 100vh;
}

.legenda-rolante-continua {
    display: flex;
    white-space: nowrap;
    /* font-family: Arial, sans-serif; */
    font-size: 18px;
    color: purple;
    animation: rolarTextoContinuo 15s linear infinite;
}

.legenda-rolante-continua span {
    padding-right: 5px;
}

@keyframes rolarTextoContinuo {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.container-legenda {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: rgb(253, 214, 41);
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.texto-legenda {
    font-size: 13px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-wrapper img {
    width: 100%;
    flex-shrink: 0;
    height: auto;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    z-index: 10;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.slider-indicators {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: rgba(253, 214, 41, 0.466);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: purple;
}

.cores,
.tamanhos {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 30px;
}

.texto-cores,
.texto-tamanhos,
.tamanhos-icones {
    margin-right: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    /* font-style: italic; */
    font-size: 0.8em;
    color: black;
    font-weight: 500;
}

.img-cores {
    width: 50%;
    margin-bottom: 7px;
}

.tamanhos {
    margin-bottom: 0.5em;
}

.texto-tamanhos {
    position: relative;
    font-size: 0.8em;
}

.tamanhos-icones {
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 6px;
    margin: 0;
}

.condicoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    bottom: 30px;
}

.preco {
    display: flex;
    flex-direction: column;
}

.valor {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    font-size: 1.4em;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
}

.parcelamento {
    /* font-family: Arial, Helvetica, sans-serif; */
    text-transform: uppercase;
    font-size: 0.56em;
    font-weight: 600;
    /* margin-right: 1em; */
    letter-spacing: 1px;
}

.frete-gratis {
    width: 9em;

}

.container-fazer-pedido {
    display: flex;
    justify-content: center;
}

.btn-fazer-pedido {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2.3em;
    border-radius: 10px;
    font-size: 1em;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-style: italic; */
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: none;    
    margin-bottom: 1.7em;
    bottom: 0.8em;
    position: relative;
    background-color: rgb(253, 214, 41);
}
.descricao {
    position: relative;
    padding: 10px 10px 0;
    bottom: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 12px;
    /* margin-bottom: 0em; */
}



/* FORMULARIO PARA FAZER PEDIDO */
.texto-selecionar-pedido {
    display: flex;
    justify-content: center;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1em;
    position: relative;
}

.container {
    display: flex;
    /* height: 100vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    bottom: 10.5em;
}

.checkout-selecionar-variacoes {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin-top: 1em;
    
}

.titulo-nome {
    font-size: 0.9em;
    margin-bottom: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
}

.input-nome {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.valor-input-nome {
    font-size: 1em;
    height: 2.5em;
    padding: 1em;
    border: rgb(78, 78, 78) solid 0.1em;
    box-shadow: rgb(78, 78, 78) 0.1em 0.1em;
    border-radius: 0.4em;
}

.titulo-checkout {
    font-size: 0.9em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-bottom: 0.5em;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
}

input#cores {
    transform: scale(2.2);
    margin-bottom: 1.1em;
    display: flex;
    align-self: center;
}

.campo-cores, .campo-tamanhos, .campo-quantidade {
    border: rgb(78, 78, 78) solid 0.1em;
    padding: 0.5em;
    margin-bottom: 1em;
    box-shadow: rgb(78, 78, 78) 0.1em 0.1em;
    background-color: white;
    border-radius: 0.4em;
}

.titulo-selecione-cor, .titulo-selecione-tamanhos, .titulo-selecione-quantidade {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
}

.selecionar-cores, .selecionar-tamanhos, .selecionar-quantidade {
    display: flex;
    margin-bottom: 0.2em;
    gap: 0.5em;
    justify-content: center;
}

.cor-preto {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.3em;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-branco {
    background-color: aliceblue;
    padding: 0.3em;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-azul {
    background-color: blue;
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-vermelho {
    background-color: red;
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-cinza {
    background-color: rgb(170, 170, 170);
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.selecionar-tamanhos {
    gap: 3em;
}

.selecionar-preto, .selecionar-branco, .selecionar-azul, .selecionar-vermelho, .selecionar-cinza {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;

}

.selecionar-p, .selecionar-m, .selecionar-g, .selecionar-gg {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(48, 48, 48);
}

.selecionar-quantidade {
    gap: 1em;
}

.btn-01, .btn-02, .btn-03, .btn-04, .btn-05, .btn-06 {
    padding: 0.5em;
    border: solid 0.2em rgb(78, 78, 78);
    font-weight: 600;
    background-color: white;
    margin-bottom: 0.5em;
    border-radius: 0.4em; 
    background-color: rgb(236, 236, 236);
}

.texto-orientar-pedido {
    font-size: 0.9em;
    color: rgb(177, 2, 2);
}


/* INFORMAÇÕES DA LOJA */
.loja-bomb {
    background-image: url(../imagens/vitrine-anuncios/background-bomb.png);
    position: relative;
    width: 100%;
    bottom: 9.5em;
    /* padding: 2em 0; */
}

.icones-pagamento {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0.8em;
}

.icone-sumup,
.icone-compra-segura {
    width: 40%;
    height: 20%;
    cursor: pointer;
}

.fale-conosco-ver-loja {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-conosco {
    width: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}

.ver-loja {
    width: 35%;
    margin-bottom: 15px;
    cursor: pointer;
}

.logo-bomb {
    width: 50%;
    /* margin-bottom: 100px; */
}




/* NAVEGAÇÃO INFERIOR */
.navegacao-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 8em;
    position: relative;
}

.titulo-inferior {
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.navegacao-inferior-blocos {
    display: flex;
    position: relative;
    gap: 3em;
    font-size: 0.8em;
    
}

.navegacao-inferior-bloco-um, .navegacao-inferior-bloco-dois {
   display: flex;
   flex-direction: column;
   cursor: pointer;
}

.rodape-fazer-pedido {
    font-size: 0.5em;
    position: relative;
    bottom: 12em;
    padding-bottom: 3em;
}


/* RODAPÉ */
.rodape {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 10px;
    /* bottom: 2.5em; */
    /* padding-bottom: 1em; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(78, 78, 78);
}