* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cabecalho {
    z-index: 1;
    width: 100vw;
    position: fixed;
    top: 0%;
    background-color: white;
}

.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, purple, orange, rgb(253, 214, 41), orange, purple);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: texto-animado 4s linear infinite;
}

@keyframes texto-animado {
    to {
        background-position: 200%;
    }
}

.legenda-rolante-continua {
    display: flex;
    white-space: nowrap;
    font-size: 1.2em;
    color: purple;
    animation: rolarTextoContinuo 15s linear infinite;
}

.legenda-rolante-continua span {
    padding-right: 0.3em;
}

@keyframes rolarTextoContinuo {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.container-legenda-rolante {
    width: 100%;
    height: 2em;
    overflow: hidden;
    background-color: rgb(253, 214, 41);
    position: relative;
    display: flex;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.5em;
}

.icones-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.25em;
}

.logotipo {
    position: relative;
    width: 6em;
    margin-right: 7em;
}

.container-icone-loja {
    text-decoration: none;
}

.icone-loja {
    position: relative;
    width: 2em;
    top: 0.2em;
    cursor: pointer;
}

.icone-whatsapp {
    position: relative;
    margin-left: 0.6em;
    top: 0.2em;
    width: 2em;
    cursor: pointer;
}

section,
.container {
    margin-top: 7.8em;
}

.check-legenda {
    width: 1em;
    margin-right: 0.2em;
}

.texto-legenda {
    font-size: 1em;
}

.legenda {
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-style: italic;
    color: purple;
}

.anuncio {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5em;
}

.imagem-anuncio {
    max-width: 97vw;
}

.preco-anuncio {
    position: absolute;
    left: 2em;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-style: italic;
    background-color: rgb(253, 214, 41);
    padding: 0.3em 0.5em;
    font-weight: 700;
    border-radius: 0.4em;
    color: purple;
}

.btn-ver-camiseta {
    position: absolute;
    margin-top: 83%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-style: italic;
    background-color: rgb(253, 214, 41);
    padding: 0.5em 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.5em;
    color: purple;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.btn-ver-camiseta:hover {
    box-shadow: 0em 0em 1em rgb(253, 214, 41);
}

.baner-inferior {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 97vw;
    margin-top: 96%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: purple;
    padding: 0.3em;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    color: aliceblue;
}

.icone-caminhao {
    width: 3em;
    margin-left: 0.5em;
}

/* FORMULARIO PARA INSCREVER-SE */
.container-inscrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    border-radius: 0.5em;
    position: relative;
    bottom: 0.5em;
    padding-top: 0.9em;
    background-image: url(/SRC/imagens/vitrine-anuncios/background-bomb.png);
}

.paragrafo-inscrever-se {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-align: center;
    font-weight: 600;
    color: purple;
    font-style: italic;
    text-transform: uppercase;
    margin-bottom: 0.3em;
}

.email-input-inscrever-se {
    border-radius: 0.5em;
    border: solid 0.1em purple;
    padding: 0.1em 3em;
    width: 80%;
    height: 2.5em;
}

.email-input-inscrever-se::placeholder {
    color: rgba(128, 0, 128, 0.596);
    text-align: center;
}

.btn-inscrever-se {
    position: relative;
    padding: 0.1em 0.5em;
    width: 10em;
    height: 2.5em;
    font-size: 0.7em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgb(253, 214, 41);
    border: solid purple 0.1em;
    color: purple;
    border-radius: 0.5em;
    bottom: 1em;
}

/* SLIDER PROMOÇÃO */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.slider-container {
    max-width: 97vw;
    position: relative;
    overflow: hidden;
    margin: 0.5em 0em 1.5em;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-wrapper img {
    width: 100%;
    flex-shrink: 0;
    height: auto;
    display: block;
}

.slider-button {
    position: absolute;
    font-style: normal;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.4em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 0.5em;
}

.next-button {
    right: 0.5em;
}

.slider-indicators {
    position: absolute;
    bottom: 0.3em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5em;
}

.indicator {
    width: 0.6em;
    height: 0.6em;
    background-color: rgba(253, 214, 41, 0.466);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: purple;
}

/* NAVEGAÇÃO INFERIOR */
.index-titulo-inferior {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: purple;
}

.index-navegacao-inferior {
    background-image: url(/SRC/imagens/vitrine-anuncios/background-bomb.png);
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 2em;
    position: relative;
    padding-top: 1.5em;
}

.index-navegacao-inferior-blocos {
    display: flex;
    position: relative;
    gap: 3em;
    top: 0.4em;
    margin-bottom: 2em;
}

.index-navegacao-inferior-blocos a {
    text-decoration: none;
    color: inherit;
    box-shadow: none;
    outline: none; 
}

.index-navegacao-inferior-bloco-um,
.index-navegacao-inferior-bloco-dois {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.5em;
    color: purple;
}

/* RODAPÉ */
.rodape-fazer-pedido {
    
    font-size: 0.6em;
    position: relative;
    padding-bottom: 1.5em;
}

.rodape {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
}