*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 0.4em;
    color: rgb(48, 48, 48);
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.checkout-selecionar-variacoes {
    /* border: rgb(78, 78, 78) solid 1px; */
    position: relative;
    /* max-width: 100vw; */
    /* height: 90vh; */
    
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    /* background-image: url(/SRC/imagens/vitrine-anuncios/background-bomb.png); */
}

.titulo-nome {
    font-size: 1em;
    margin-bottom: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.input-nome {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.valor-input-nome {
    font-size: 1em;
    height: 2.5em;
    padding: 1em;
    border: rgb(78, 78, 78) solid 0.1em;
    box-shadow: rgb(78, 78, 78) 0.1em 0.1em;
    
}

.titulo-checkout {
    font-size: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    margin-bottom: 0.2em;
    text-align: center;
    background-color: white;
    text-transform: uppercase;
}

input#cores {
    /* width: 1.5em; */
    transform: scale(2.2);
    margin-bottom: 1.1em;
    display: flex;
    align-self: center;
}

.campo-cores, .campo-tamanhos, .campo-quantidade {
    border: rgb(78, 78, 78) solid 0.1em;
    padding: 5px;
    margin-bottom: 1em;
    box-shadow: rgb(78, 78, 78) 0.1em 0.1em;
    background-color: white;
}

.titulo-selecione-cor, .titulo-selecione-tamanhos, .titulo-selecione-quantidade {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.selecionar-cores, .selecionar-tamanhos, .selecionar-quantidade {
    display: flex;
    margin-bottom: 0.2em;
    gap: 0.5em;
    justify-content: center;
}

.cor-preto {
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 0.3em;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-branco {
    background-color: aliceblue;
    padding: 0.3em;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-azul {
    background-color: blue;
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-vermelho {
    background-color: red;
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.cor-cinza {
    background-color: rgb(170, 170, 170);
    padding: 0.3em;
    color: white;
    border-radius: 0.4em;
    border: solid 0.1em gray;
}

.selecionar-tamanhos {
    gap: 3em;
    
}

.selecionar-preto, .selecionar-branco, .selecionar-azul, .selecionar-vermelho, .selecionar-cinza {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;    
}

.selecionar-p, .selecionar-m, .selecionar-g, .selecionar-gg {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(48, 48, 48);
}

.selecionar-quantidade {
    gap: 1em;
}

.btn-01, .btn-02, .btn-03, .btn-04, .btn-05, .btn-06 {
    padding: 0.5em;
    border: solid 0.2em rgb(78, 78, 78);
    font-weight: 600;
    background-color: white;
    margin-bottom: 0.5em; 
}

.texto-orientar-pedido {
    font-size: 0.8em;
    color: rgb(177, 2, 2);
}

.rodape-fazer-pedido {
    font-size: 0.5em;
    position: relative;
    top: 7vh;
    
}